name: Deploy ArgoCD Platform Project

on:
  workflow_dispatch:
  push:

jobs:
  deploy-argocd-platform-project:
    name: "Deploy ArgoCD Platform Project"
    runs-on:
      group: kloudke
    defaults:
      run:
        working-directory: ./argocd

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Create Kubeconfig File
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config
          export KUBECONFIG=~/.kube/config

      - name: Deploy ArgoCD Platform Project
        working-directory: ./argocd/projects
        run: |
          kubectl apply -f platform-project.yaml
          kubectl get appprojects -n argocd

      - name: Configure ArgoCD RBAC
        run: |
          kubectl patch configmap argocd-rbac-cm -n argocd --type merge --patch '{"data":{"policy.csv":"p, role:readonly, applications, get, platform/*, allow\np, role:readonly, applications, sync, platform/*, deny\ng, dev-team, role:readonly"}}'
          kubectl rollout restart deployment argocd-server -n argocd
          