name: Deploy ArgoCD

on:
  workflow_dispatch:

jobs:
  deploy-components:
    name: "Deploy Components"
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./argocd

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Python 3
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          
      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Create Kubeconfig File
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config
          export KUBECONFIG=~/.kube/config

      - name: Verify Kubeconfig
        run: |
          kubectl get nodes
          kubectl get pods -A

      - name: Setup Helm
        uses: azure/setup-helm@v4.2.0

      - name: Deploy ArgoCD
        working-directory: ./
        run: |
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo update
          export KUBECONFIG=~/.kube/config
          #helm uninstall argocd -n argocd
          helm upgrade --install argocd argo/argo-cd \
            --namespace argocd \
            --create-namespace \
            -f argocd/values.yaml
          kubectl get pods -n argocd
          kubectl get svc -n argocd
