name: Deploy ArgoCD

on:
  workflow_dispatch:
  #push:

jobs:
  deploy-argocd:
    name: "Deploy ArgoCD"
    runs-on:
      group: kloudke
    defaults:
      run:
        working-directory: ./argocd

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true


      - name: Create Kubeconfig File
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config
          export KUBECONFIG=~/.kube/config

      - name: Verify Kubeconfig
        run: |
          kubectl get nodes

      - name: Setup Helm
        uses: azure/setup-helm@v4.2.0

      - name: Deploy ArgoCD
        working-directory: ./
        run: |
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo update
          helm upgrade --install argocd argo/argo-cd \
            --namespace argocd \
            --create-namespace \
            -f argocd/values.yaml
          kubectl get pods -n argocd
          kubectl get svc -n argocd
     
          